! urxvt

URxvt*geometry:                115x40
!URxvt*font: xft:Liberation Mono:pixelsize=14:antialias=false:hinting=true
!URxvt*font: xft:Iosevka,xft:Kochi Gothic:antialias=false, xft:Baekmuk Gulim :pixelsize=14:hinting=true
 URxvt*font: xft:Iosevka:pixelsize=15:antialias=true:hinting=true

!URxvt*boldFont: xft:Iosevka:bold,xft:Kochi Gothic:antialias=false, xft:Baekmuk Gulim,:pixelsize=14:antialias=false:hinting=true
URxvt*boldFont: xft:Ubuntu Mono:bold:pixelsize=15:antialias=true:hinting=true

!URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=15:antialias=false:hinting=true
URxvt*depth:                24
URxvt*borderless: 1
URxvt*scrollBar:            false
URxvt*saveLines:  2000
URxvt.transparent:      true
URxvt*.shading: 10
!URxvt*.letterSpace: -1

! Meta modifier for keybindings
!URxvt.modifier: super

!! perl extensions
URxvt.perl-ext:             default,url-select,clipboard

! url-select (part of urxvt-perls package)
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    2
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true

! Nastavuje kopirovani
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy

! disable the stupid ctrl+shift 'feature'
URxvt.iso14755: false
URxvt.iso14755_52: false



!URxvt*colorUL: #86a2b0

!urxvt color scheme:



*.background: #282828
*.foreground: white
*.cursorColor: white

/* !! gruvbox: */
*.color0: #1d2021 
*.color1: #cc241d 
*.color2: #98971a 
*.color3: #d79921 
*.color4: #458588 
*.color5: #b16286 
*.color6: #689d6a 
*.color7: #a89984 
*.color8: #928374 
*.color9: #fb4934 
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2
! See "highlightColorMode" and "hm" options in XTerm manual page.
*highlightTextColor: #000000
*highlightColor: #c1ddff
! No support for cursor text coloring; would be #feffff.
! No support for bold coloring; would be #feffff.


/* !! gruvbox light: */
/* *.color0: #fbf1c7 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #7c6f64 */
/* *.color8: #928374 */
/* *.color9: #9d0006 */
/* *.color10: #79740e */
/* *.color11: #b57614 */
/* *.color12: #076678 */
/* *.color13: #8f3f71 */
/* *.color14: #427b58 */
/* *.color15: #3c3836 */

/* !! brogrammer: */
/* *.foreground:  #d6dbe5 */
/* *.background:  #131313 */
/* *.color0:      #1f1f1f */
/* *.color8:      #d6dbe5 */
/* *.color1:      #f81118 */
/* *.color9:      #de352e */
/* *.color2:      #2dc55e */
/* *.color10:     #1dd361 */
/* *.color3:      #ecba0f */
/* *.color11:     #f3bd09 */
/* *.color4:      #2a84d2 */
/* *.color12:     #1081d6 */
/* *.color5:      #4e5ab7 */
/* *.color13:     #5350b9 */
/* *.color6:      #1081d6 */
/* *.color14:     #0f7ddb */
/* *.color7:      #d6dbe5 */
/* *.color15:     #ffffff */
/* *.colorBD:     #d6dbe5 */

/* ! base16 */
/* *.color0:       #181818 */
/* *.color1:       #ab4642 */
/* *.color2:       #a1b56c */
/* *.color3:       #f7ca88 */
/* *.color4:       #7cafc2 */
/* *.color5:       #ba8baf */
/* *.color6:       #86c1b9 */
/* *.color7:       #d8d8d8 */
/* *.color8:       #585858 */
/* *.color9:       #ab4642 */
/* *.color10:      #a1b56c */
/* *.color11:      #f7ca88 */
/* *.color12:      #7cafc2 */
/* *.color13:      #ba8baf */
/* *.color14:      #86c1b9 */
/* *.color15:      #f8f8f8 */

/* !! solarized */
/* *.color0:	#073642 */
/* *.color1:	#dc322f */
/* *.color2:	#859900 */
/* *.color3:	#b58900 */
/* *.color4:	#268bd2 */
/* *.color5:	#d33682 */
/* *.color6:	#2aa198 */
/* *.color7:	#eee8d5 */
/* *.color9:	#cb4b16 */
/* *.color8:	#fdf6e3 */
/* *.color10:	#586e75 */
/* *.color11:	#657b83 */
/* *.color12:	#839496 */
/* *.color13:	#6c71c4 */
/* *.color14:	#93a1a1 */
/* *.color15:	#fdf6e3 */

/* !! xterm */
/* *.color0:   #000000 */
/* *.color1:   #cd0000 */
/* *.color2:   #00cd00 */
/* *.color3:   #cdcd00 */
/* *.color4:   #0000cd */
/* *.color5:   #cd00cd */
/* *.color6:   #00cdcd */
/* *.color7:   #e5e5e5 */
/* *.color8:   #4d4d4d */
/* *.color9:   #ff0000 */
/* *.color10:  #00ff00 */
/* *.color11:  #ffff00 */
/* *.color12:  #0000ff */
/* *.color13:  #ff00ff */
/* *.color14:  #00ffff */
/* *.color15: #aabac8 */



!perl extensions
URxvt.perl-ext-common: resize-font,fullscreen,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

!fullscreen
!URxvt.perl-ext-common: keyboard-select,fullscreen,...
URxvt.keysym.F11: perl:fullscreen:switch

